@font-face {
  font-family: 'font';
  src: url(font.ttf);
  font-display: swap;
}

* {
  margin: 0;
  color: #c4ae08;
}

body {
  font-family: 'font', serif;
}

h1 {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 1rem;
}

h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.container {
  width: 90%;
  max-width: 800px;
  margin: 2rem auto;
  padding: 2rem;
  border: 5px solid #c4ae08;
  background-color: #f5f5f5;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#indexdel {
  background-image: url(bilder/bakgrund.webp);
}

header {
  padding: 1rem;
  border: 5px solid #c4ae08;
  background-image: url(bilder/stora-nordiska-kriget-karta.webp);
}

footer {
  padding: 2rem;
  background-color: #011030;
  border: 5px solid #c4ae08;
  background-image: url(bilder/stora-nordiska-kriget-karta.webp);
}

#english-website {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.knapp-bild-mindre {
  width: 100px;
}

.indexdeltre {
  display: flex;
  justify-content: center;
  align-items: center;
}

#prenumerera {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  margin-top: 2rem;
  list-style-type: disc;
  padding-left: 2rem;
}

a {
  text-decoration: none;
  color: #c4ae08;
}

a:hover {
  color: grey;
  transition: 0.2s ease-in-out;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.steamdel,
.steamdeltva,
.steamdeltre {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.steamdeltva,
.steamdeltre {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@media (max-width: 839px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  .container {
    width: 95%;
  }
}

@media (max-width: 588px) {
  main {
    background-image: url(bilder/slaget-vid-narva-tva.webp);
  }
}

@media (min-width: 589px) {
  main {
    background-image: url(bilder/slaget-vid-narva.webp);
  }
}
